<h2>It's <%= Time.now.strftime("%I:%M%p") %>. What are you doing?</h2>

<button type="button" class="btn btn-default btn-lg btn-block"><%= link_to 'At a garden party?', occasion_path %></button>

<button type="button" class="btn btn-default btn-lg btn-block"><%= link_to 'At a garden party?', occasion_path %></button>

<button type="button" class="btn btn-default btn-lg btn-block"><%= link_to 'At a garden party?', occasion_path %></button>